bin/Debug/*
bin/Release/*
!bin/Release/Readme.txt
!bin/Release/RMLib.dll
!bin/Release/TelnetDoor.ans
!bin/Release/TelnetDoor.ini
!bin/Release/TelnetDoor.exe
!bin/Release/TelnetDoor-Header.ans
obj/*
packages/*
*.suo
*.user