bin/Debug/*
bin/Release/*
!bin/Release/readme.txt
!bin/Release/RMLib.dll
!bin/Release/servers.ans
!bin/Release/servers.ini
!bin/Release/servers-header.ans
!bin/Release/TelnetDoor.exe
obj/*
*.suo
*.user